<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= locals.file.filename %></h1>
    <form action="/file/<%= locals.file.id %>/readfile" method="post">
      <button>Dowload</button>
    </form>
  </body>
</html>
